.trending {
    margin: 20px 0;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* src/pages/HomePage.css */
  .container {
    padding: 20px;
  }
  
  /* src/pages/MoviesPage.css */
  .container {
    padding: 20px;
  }
  
  .content {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .actor-card {
    width: 200px;
    text-align: center;
  }
  
  .actor-card img {
    width: 100%;
    border-radius: 10px;
  }